* {
    outline-style: none;
}

#window {
    background-color: #1f2127;
    font-family: 'Roboto Mono', 'monospace', monospace;
    font-size: 15px;
}

#outer-box {
    border: 2px solid #97b3d1;
    border-radius: 5px;
}

#input {
    background-color: rgba (0, 0, 0, 0);
    margin: 5px;
    border: none;
}

#inner-box {
    padding: 25px;
}

#scroll {
    margin: -2px 0px;
}

#entry {
    background: #1f2127;
    padding: 10px;
    transition: 0.5s;
}

#entry:selected {
    background: #2c2f38;
    color: #bcbcbc;
    border: none;
    border-radius: 5px;
}

#text:selected {
    background: #2c2f38;
    color: #f8f8f2;
    border: none;
}